# Default ignored files
.idea
#*.txt
#*.tex
#*.pdf
#*.zip
/**/venv/*
/**/__pycache__/*
**/generator_app/static/generator_app/variants/*/*.tex
**/generator_app/static/generator_app/variants/*/*.pdf
**/generator_app/static/generator_app/variants/*/*.log
**/generator_app/static/generator_app/variants/*/*.aux
**/generator_app/static/generator_app/variants/*/*.fls
**/generator_app/static/generator_app/variants/*/*.fdb_latexmk
**/generator_app/static/generator_app/variants/*/*.zip