# Default ignored files
.idea
#*.txt
#*.tex
#*.pdf
#*.zip
/**/venv/*

/**/__pycache__/*
Generator_1/interpolation_integration_generator/static/interpolation_integration_generator/*/*.tex
Generator_1/interpolation_integration_generator/static/interpolation_integration_generator/*/*.pdf
Generator_1/interpolation_integration_generator/static/interpolation_integration_generator/*/*.log
Generator_1/interpolation_integration_generator/static/interpolation_integration_generator/*/*.aux
Generator_1/interpolation_integration_generator/static/interpolation_integration_generator/*/*.fls
Generator_1/interpolation_integration_generator/static/interpolation_integration_generator/*/*.fdb_latexmk
Generator_1/interpolation_integration_generator/static/interpolation_integration_generator/*/*.zip