# Default ignored files
.idea
#*.txt
#*.tex
#*.pdf
#*.zip
test.py
/**/venv/*

/**/__pycache__/*
Generator/interpolation_integration_generator/static/interpolation_integration_generator/*/*.tex
Generator/interpolation_integration_generator/static/interpolation_integration_generator/*/*.pdf
Generator/interpolation_integration_generator/static/interpolation_integration_generator/*/*.zip