{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Generator</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'generator_app/css/result_page.css' %}">
</head>
<body>
    <div class="btn-toolbar">
        <a href="integration/"><button class="bigButton">Интегрирование</button></a>
        <a href="interpolation/"><button class="bigButton">Интерполирование</button></a>
        <a href="splines/"><button class="bigButton">Сплайны</button></a>
        <a href="custom_variants/"><button class="bigButton">Билеты</button></a>
    </div>
</body>
</html>