{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'interpolation_integration_generator/css/result_page.css' %}">
    <meta charset="UTF-8">
    <title>Result page</title>
</head>
<body>
    <a href="/" class="backButton">Назад</a>
<div class="container">
    <div class="row">
        <div class="col mr-4">
{#            <form action="generate_interpolation/" method="post" enctype="multipart/form-data" class="col mr-4">#}
            <form action="{% url 'generate_interpolation' %}" method="post" enctype="multipart/form-data" class="col mr-4">
                {% csrf_token %}
                <h3 class="mt-2">Интерполяционный многочлен Ньютона и Лагранжа</h3>

                <div class="row mt-2">
                    <div class="col">
                        <h5>{{ form.filename.label }}</h5>
                    </div>
                    <div class="col">
                        {{ form.filename }}
                    </div>
                </div>
                <br>
                <div class="row mt-2">
                    <div class="col">
                        <h5>{{ form.variants_type.label }}</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {% for choice in form.variants_type %}
                            <div>
                                {{ choice }}
                            </div>
                        {% endfor %}
                        {{ form.file_with_surnames }}
                    </div>
                </div>
                <br>
                <div class="row mt-2">
                    <div class="col">
                        <h5>{{ form.number_of_variants.label }}</h5>
                    </div>
                    <div class="col">
                        {{ form.number_of_variants }}
                    </div>
                </div>
                <br>
                <div class="row mt-2">
                    <div class="col">
                        <h5>{{ form.number_of_variants_in_string.label }}</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {% for choice in form.number_of_variants_in_string %}
                            <div>
                                {{ choice }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <br>
                <div class="row mt-2">
                    <div class="col">
                        <h5>{{ form.the_biggest_polynomial_degree.label }}</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {% for choice in form.the_biggest_polynomial_degree %}
                            <div>
                                {{ choice }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <br>

                <div class="row mt-2">
                    <div class="col">
                        <h5>{{ form.generation_format.label }}</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {% for choice in form.generation_format %}
                            <div>
                                {{ choice }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <br>
                <em>Необязательный параметр</em>
                <div class="row">
                    <div class="col">
                        <h5>{{ form.seed.label }}</h5>
                    </div>
                    <div class="col">
                        {{ form.seed }}
                    </div>
                </div>

                <button type="submit" class="btn mb-2 mt-2 btn-primary btn-lg active" role="button" aria-pressed="true">
                    Сгенерировать
                </button>
            </form>
        </div>
    </div>
</div>
</body>
<script src="{% static 'interpolation_integration_generator/js/relations_between_variants_and_max_degree.js' %}"></script>
<script src="{% static 'interpolation_integration_generator/js/relation_between_file_field_and_variants.js' %}"></script>
</html>